<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .consulta {
            border: 1px solid #ccc;
            margin: 0.3%;
            padding: 1%;
            cursor: pointer;
            background-color:azure;
            display: flex;
            justify-content: space-between;
        }
        .mensajes {
            display: none;
            margin: 10px;
        }
    </style>
</head>

<body>
    <% include nav.ejs %>

    <div class="container center">
        <h1 class="text-center m-4 tituloFont">Consultas</h1>
        <% listaConsultas.forEach((consulta, index) => { %>
            <div class="consulta">
                <div>
                    <b><%= consulta.nombre_paciente %> <%= consulta.apellidos_paciente %></b>
                </div>
                <div>
                    <a>añadir aqui fecha de inicio</a>
                </div>
            </div>
            
        <% }) %>
    </div>

    <script>
        function toggleMensajes(index) {
            var mensajes = document.getElementById("mensajes" + index);
            if (mensajes.style.display === "none") {
                mensajes.style.display = "block";
            } else {
                mensajes.style.display = "none";
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>