    <a href="/">
        <div class="jumbotron d-flex justify-content-center align-items-center text-white p-2" style="background-color: rgb(18,70,85);">
            <img id="perfilImage" src="/images/logoMedAlerta.png" alt="Perfil" href="/" class="img-fluid mb-2" style="max-width: 50px; height: auto;">
            <img src="/images/MedAlerta3.png" alt="MedAlerta" class="img-flui" href="/" style="max-height: 50px; width: auto;">
        </div>
    </a>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <div class="usuario dropdown">
            <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                <img id="perfilImage" src="/images/userBlackIcon.png" alt="Perfil" class="img-fluid" style="max-width: 30px; height: auto;">
                <span id="nombre" class="ms-2"><%= nombre%></span>
            </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/doctor/usuario/editar-perfil/">Editar Perfil</a></li>
                <li><a class="dropdown-item" href="/signout">Cerrar Sesión</a></li>
                <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" style="color: red;">Eliminar cuenta</button></li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/doctor/gestion-usuarios/">Gestión Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="/doctor/consulta/">Consultas</a></li>
                <li class="nav-item"><a class="nav-link" href="/doctor/calendario/">Calendario</a></li>
                <li class="nav-item"><a class="nav-link" href="/doctor/gestion-citas/">Citas</a></li>
            </ul>
        </div>
    </div>
</nav>