*{
  margin:0;
}
.nav-item:hover{
  background-color:  rgb(189, 209, 211);
}

.fc-day:hover {
  background-color: rgb(189, 209, 211) !important; /* Cambiar el color de fondo al hacer hover */
  cursor: pointer; /* Cambiar el cursor al hacer hover */
}
.table td,
.table th {
    background-color: rgb(235, 243, 243);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  rgb(235,243,243)
}

a {
  color: #00B7FF;
}

.message-container-error {
  padding: 10px;
  margin-top: 10px;
  background-color: red;
}

.message-container-validated {
  padding: 10px;
  margin-top: 10px;
  background-color: green;
}

.btn-standard {
  width: 120px; /* ajusta el ancho según tus preferencias */
  height: 90px; /* ajusta la altura según tus preferencias */
  /* Puedes agregar otros estilos comunes aquí, como colores de fondo, bordes, etc. */
}

.btn-secondary.custom-dropdown-toggle::after {
  display: none !important;
}

.message {
  color: white;
  text-decoration: none;
}

#olvidarContrasena {
  cursor: pointer;
  text-decoration: underline; /* Esto es opcional, pero puede ser útil para indicar que es un enlace */
  color: blue; /* Esto es opcional, pero puede ser útil para indicar que es un enlace */
}

.imagenIcono {
  margin-bottom: 2px;
  width: 100px; 
  height: 100px;
}

.tituloFont{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}

/*NOTIFICACIONEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEES*/

/* Archivo styles.css */

/* Estilo para la lista de notificaciones */
